server {
    listen 80;
    listen [::]:80;

    server_name ${PROD_SERVER_NAME} www.${PROD_SERVER_NAME};
    server_tokens off;

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        return 301 https://${PROD_SERVER_NAME}$request_uri;
    }
}